cachelib==0.6.0
click==8.0.3
dataclasses==0.8
ExifRead==2.3.2
Flask==2.0.2
flask-paginate==2022.1.8
Flask-Session==0.4.0
greenlet==1.1.2
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysql-connector-python==8.0.28
mysqlclient==2.1.0
Pillow==8.4.0
protobuf==3.19.3
SQLAlchemy==1.4.31
typing_extensions==4.0.1
Werkzeug==2.0.2
zipp==3.6.0
