<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>    
	<nav class="navbar navbar-expand-sm navbar-light bg-light">
	  <div class="container-fluid ">
             <a class="navbar-brand" href="{{ url_for('main') }}" alt="Cereal Pest Aid" title="Cereal Pest Aid">
                <img width=50 id="headerLogo" src="{{ url_for('static', filename='img/cerealpestaid.png') }}" />
             </a>

        	<div class="collapse navbar-collapse" id="mainNavBar">
                   <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main') }}">PHOTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('help') }}">HELP</a>
                        </li>
                        <li class="nav-item highlight">
                            <a class="nav-link" href="{{ url_for('login') }}">LOGIN</a>
                        </li>
                   </ul>
        	</div>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav ms-auto">
			<li class="nav-item">
			  Logged in as: <a style="display:inline-block;" class="nav-link active" aria-current="page" href="{{ url_for('login') }}"><p style="display:inline-block; color:blue">{{who}}</p></a>
			</li>
		  </ul>		  
	        </div>
	  </div>
	</nav>
</body>
</html>


