<!DOCTYPE html>

<link href='/static/css/koala.css' rel='stylesheet' type='text/css' />
   
<div id="koalaModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-xl">
     <div class="modal-content">
           <div class="modal-header">
                <h5 class="modal-title">Photo Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
           </div>
           <div class="modal-body">

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
<!-- <link rel="stylesheet" href="/static/css/foostyle.css"> -->
<table>
<tr>
<td>

<div class="container">

        <button type="button" class="btn btn-secondary" onClick="doFilter('incbrightness');">Brighter</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('darkify');">Darker</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('greyscale');">Grayscale</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('warmth');">Warmth</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('sat_adj');">Saturation</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('invert');">Invert</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('min_noise');">Noise</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('specks');">Specks</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('coral');">Coral</button> <br>
        <button type="button" class="btn btn-secondary" onClick="doFilter('phase');">Phase</button> <br>
</div>

<button id="resetAll">reset</button>
</td>
<td>

<canvas id="filtered-canvas" style="max-width:600px; max-height:600px; border:10px solid black;"></canvas> 

<canvas id="filtered-canvas-big" style="display:none;"></canvas>

{#
<canvas id="original-canvas" style="max-width:600px; max-height:600px; display:none;"></canvas>
<canvas id="original-canvas-big" style="display:none;"></canvas>
#}

<img id="hidden_image" style="display:none;">


</td>
</tr>
</table>


</div>

<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="resetAll" type="button" class="btn btn-secondary">Reset</button>
        <button type="button" class="btn btn-primary" onClick="filterSave()">Save changes</button>
</div>

<script type="text/javascript" src="static/js/foofunction.js"></script>


</div>
</div>
</div>


