
<div id="metadata">

	<center> <h3> Image Metadata </h3> </center>
	Image ID: <div style="display:inline" id="image_id"></div> <br>
	Crop: <div style="display:inline" class="text-uppercase" id="image_crop"></div> <br>
	Contributor: <div style="display:inline" id="image_contributor"></div> <br>
	Coordinates: <div style="display:inline" id="image_coordinates"></div> <br>
	Timestamp: <div style="display:inline" id="image_timestamp"></div> <br>
	Width: <div style="display:inline" id="image_width"></div> <br>
	Height: <div style="display:inline" id="image_height"></div> <br>
	Camera: <div style="display:inline" id="image_camera"></div> <br>
	Lens: <div style="display:inline" id="image_lens"></div> <br>

</div>
