<!doctype html>

<link href="static/css/cropper.min.css" rel="stylesheet" media="screen"> 
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" ></script>
<!--<script type="text/javascript" src="static/js/jkpopimage.js"></script> -->


<script type="text/javascript" src="static/js/lena2.js"></script> 

<script type="text/javascript" src="static/js/cropper.min.js"></script>


<script>


    const metadata = {{data | tojson}};
    let current_selection = 0;


    function initCropper() {
      const image = document.querySelector('#cropperimage');
      const cropper = new Cropper(image, {
        movable: true,
        zoomable: true,
        rotatable: true,
        scalable: true,
	ready: function() {
		setTimeout(() => {  $("#loadingModal").modal("hide"); }, 1000);
    	}
      });

      return(cropper);
    }


    // supporting function for retrieving a data URL for an image
    function getBase64Image(img) {

        // Create an empty canvas element
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        // Copy the image contents to the canvas
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

        var dataURL = canvas.toDataURL("image/png");

        return(dataURL);
    }


    function imgToCanvas(img) {

        // Create an empty canvas element
        let canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        // Copy the image contents to the canvas
        const ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

	return(canvas)
    }


    function filterSave() {
	$("#koalaModal").modal("hide");

	fee = document.getElementById("filtered-image-big");
	dataurl = getBase64Image(fee);

	cropper.replace(dataurl);
    }




    function cropClassify() {
        console.log("cropClassify")

	const crop_image = cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 });
	console.log(crop_image)
	
	croppedImageData = crop_image.toDataURL("image/png");
	imageElement = document.getElementById("modalImage");
	imageElement.src = croppedImageData;

	$("#classifyModal").modal("show");

	document.getElementById('modalSpinner').style.display = 'none';
	
	updateMetadataBox();
    }


    function deselectCropper(index) {
        document.getElementById(metadata[index][0]).style.border = "10px solid red";
    }



    function updateMetadataBox() {
	const current_metadata = metadata[current_selection];

        $('#image_id').text(current_metadata[0]);
        $('#image_crop').text(current_metadata[2]);
        $('#image_contributor').text(current_metadata[4]);
        $('#image_coordinates').text("(" + current_metadata[5] + "," + current_metadata[6] + ")");
        $('#image_timestamp').text(current_metadata[15]);
        $('#image_width').text(current_metadata[7]);
        $('#image_height').text(current_metadata[8]);
        $('#image_camera').text(current_metadata[9]);
        $('#image_lens').text(current_metadata[10]);

        $('#modal_image_id').text(current_metadata[0]);
        $('#modal_image_crop').text(current_metadata[2]);
        $('#modal_image_contributor').text(current_metadata[4]);
        $('#modal_image_coordinates').text("(" + current_metadata[5] + "," + current_metadata[6] + ")");
        $('#modal_image_timestamp').text(current_metadata[15]);
    }



    function clickCropper(index) {

	// const current_metadata = metadata[index];
	const image_id = metadata[index][0];
	const image_path = metadata[index][1];
	
	$("#loadingModal").modal("show");

	deselectCropper(current_selection);
        document.getElementById(image_id).style.border = "10px solid blue";
	current_selection = index;

        cropper.replace("static/images/imagebank/".concat(image_path));

	updateMetadataBox();

    }

    function photoArchive() {
	console.log("In photoArchive()"); 
    }


    function uploadFiltered() {
	console.log("In uploadFiltered()");

	// document.getElementById('modalSpinner').style.display = 'inline';

	const api_url = "/upload";
	const data = {'croppedImage': croppedImageData, 'who':'{{who}}'}

	console.log("uploading...")

	fetch(api_url, {
		method: "POST",
		headers: {'Content-Type': 'application/json'}, 
		body: JSON.stringify(data)
	}).then(res => {
		$("#classifyModal").modal("hide");
		console.log("Request complete! response:", res);
	});

	console.log("done...")
    }



    function uploadCropped() {
	console.log("In uploadCropped()");

	document.getElementById('modalSpinner').style.display = 'inline';

	const api_url = "/upload";
	const data = {'croppedImage': croppedImageData, 'who':'{{who}}'}

	console.log("uploading...")

	fetch(api_url, {
		method: "POST",
		headers: {'Content-Type': 'application/json'}, 
		body: JSON.stringify(data)
	}).then(res => {
		$("#classifyModal").modal("hide");
		console.log("Request complete! response:", res);
	});

	console.log("done...")

    }
  
    function copyCanvas(sourceCanvas) {

	var destinationCanvas = document.createElement('canvas');
	destinationCanvas.width = sourceCanvas.width;
	destinationCanvas.height = sourceCanvas.height;
	
	//grab the context from your destination canvas
	const destCtx = destinationCanvas.getContext('2d');

	//call its drawImage() function passing it the source canvas directly
	destCtx.drawImage(sourceCanvas, 0, 0);

	return(destinationCanvas);
    }

    
    function calculateAspectRatioFit(srcWidth, srcHeight, maxWidth, maxHeight) {
       const ratio = Math.min(maxWidth / srcWidth, maxHeight / srcHeight);
       return { width: srcWidth*ratio, height: srcHeight*ratio };
    }


    function filtersButton() {
	const image_id = metadata[current_selection][0];
	const image_path = metadata[current_selection][1];

	canvas_in_cropper = cropper.clear().getCroppedCanvas();

	lenaInit(canvas_in_cropper);
	$("#koalaModal").modal("show");
    }


    window.addEventListener('DOMContentLoaded', function () {
        cropper = initCropper();
	clickCropper(current_selection);
    });

    function lenaApplyFilters(originalImage,
			      originalImageBig,
			      filteredImageCanvas,
			      filteredImageCanvasBig) {


	LenaJS.printCanvas(filteredImageCanvas, LenaJS.getImage(originalImage));	

        LenaJS.filterImage2(filteredImageCanvas, LenaJS['saturation'], parseFloat(saturation_index.value), originalImageBig);
        LenaJS.filterImage2(filteredImageCanvasBig, LenaJS['saturation'], parseFloat(saturation_index.value), originalImageBig);

        LenaJS.filterImage3(filteredImageCanvas, LenaJS['sepia'], parseFloat(sepia_index.value), filteredImageCanvas);
	LenaJS.filterImage3(filteredImageCanvasBig, LenaJS['sepia'], parseFloat(sepia_index.value), filteredImageCanvas);
    }


    function lenaInit(cropperCanvas) {

	console.log("Init lenaInit()");

	var originalImage = document.getElementById("original-image");
	var originalImageBig = document.getElementById("original-image-big");
	var filteredImageCanvas = document.getElementById("filtered-image");
	var filteredImageCanvasBig = document.getElementById("filtered-image-big");
	
	originalImage.src = cropperCanvas.toDataURL();
	originalImageBig.src = cropperCanvas.toDataURL();

	LenaJS.printCanvas(filteredImageCanvas, LenaJS.getImage(originalImage));	


	// register some event callbacks
        saturation_index = document.getElementById("saturation");
        saturation_index.addEventListener("change", function(e) {
	   console.log("Saturation"); 
    	   document.getElementById("saturation_level").innerHTML = saturation_index.value;

	   //LenaJS.filterImage2(filteredImageCanvas, LenaJS['saturation'], parseFloat(saturation_index.value), originalImageBig);
	   //LenaJS.filterImage2(filteredImageCanvasBig, LenaJS['saturation'], parseFloat(saturation_index.value), originalImageBig);
	   lenaApplyFilters(originalImage, originalImageBig, filteredImageCanvas, filteredImageCanvasBig)
        });

        sepia_index = document.getElementById("sepia");
        sepia_index.addEventListener("change", function(e) {
	   console.log("Sepia"); 
    	   document.getElementById("sepia_level").innerHTML = sepia_index.value;

	   //LenaJS.filterImage2(filteredImageCanvas, LenaJS['sepia'], parseFloat(sepia_index.value), originalImageBig);
	   //LenaJS.filterImage2(filteredImageCanvasBig, LenaJS['sepia'], parseFloat(sepia_index.value), originalImageBig);
	   lenaApplyFilters(originalImage, originalImageBig, filteredImageCanvas, filteredImageCanvasBig)

        });


{#
	filterChanger.addEventListener("change", function(e) {
	  const filter = filterChanger.value;
		
	  if(filter != "none"){
	  
		// Apply filter
		LenaJS.filterImage(filteredImageCanvas, LenaJS[filter], originalImageBig);
		LenaJS.filterImage(filteredImageCanvasBig, LenaJS[filter], originalImageBig);
	  }
	}, false);
#}

    }

</script>





<title>{% block title %}{% endblock %} - Photos</title> 
{% include "header.html" %}


<table align=center width=90%>
<tr>
<td align=left width=75%>

  <div class="container">
    <div>
      <img height=600px id="cropperimage" src="" alt="Picture">
      <img id="photoSpinner" src="/static/img/loader.gif" style="display:none">
    </div>
  </div>


</td>
<td align=left>

   <div id="metadata_box">

        <center> <h3> Image Metadata </h3> </center>
        Image ID: <div style="display:inline" id="image_id"></div> <br>
        Crop: <div style="display:inline" class="text-uppercase" id="image_crop"></div> <br>
        Contributor: <div style="display:inline" id="image_contributor"></div> <br>
        Coordinates: <div style="display:inline" id="image_coordinates"></div> <br>
        Timestamp: <div style="display:inline" id="image_timestamp"></div> <br>
        Width: <div style="display:inline" id="image_width"></div> <br>
        Height: <div style="display:inline" id="image_height"></div> <br>
        Camera: <div style="display:inline" id="image_camera"></div> <br>
        Lens: <div style="display:inline" id="image_lens"></div> <br>

   </div>

    <hr>

    <button type="button" id="cropclassify" onClick="cropClassify()">Crop & Classify</button> 
    <button type="button" id="filtersButton" onClick="filtersButton()">Filters</button> 
    <button type="button" id="photoArchive" onClick="photoArchive()">Archive Image</button> 

    <hr>


{% include "classifyModal.html" %}
{% include "loadingModal.html" %}

{% include "toolbox.html" %}

{# {% include "imageFiltersModal.html" %} #}

{% include "koalaModal.html" %} 

   
</td>
</tr>
</table>

{{ pagination.info }}

<table class="table table-striped">

<tbody>
<TR>

   {% for item in data %}	
   <TD>
	<IMG id="{{item[0]}}" SRC="static/images/thumbnails/{{item[1]}}" onClick="clickCropper({{loop.index-1}})">  
   </TD>
   {% endfor %}
	
</TR>
</tbody>
</table>

{{pagination.info}}
{{pagination.links}}

{# <script  src="/static/js/imageFilters.js"></script> #}

