<!doctype html>

<link href="static/css/cropper.min.css" rel="stylesheet" media="screen"> 

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" ></script>
<script type="text/javascript" src="static/js/cropper.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/silvia-odwyer/pixels.js@0.8.1/dist/Pixels.js"></script>



<script>


    const metadata = {{data | tojson}};
    let current_selection = 0;


    var lastFilteredCanvas = document.createElement("canvas");
    var prefilterCanvas = document.createElement("canvas");
    var lastFilteredCanvasFlag = false;



    function initCropper() {
      const image = document.querySelector('#cropperimage');
      const cropper = new Cropper(image, {
        movable: true,
        zoomable: true,
        rotatable: true,
        scalable: true,
	ready: function() {
		setTimeout(() => {  $("#loadingModal").modal("hide"); }, 1000);
    	}
      });

      return(cropper);
    }


    // supporting function for retrieving a data URL for an image
    function getBase64Image(img1) {

        // Create an empty canvas element
        var canvas = document.createElement("canvas");
        canvas.width = img1.width;
        canvas.height = img1.height;

        // Copy the image contents to the canvas
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img1, 0, 0);

        var dataURL = canvas.toDataURL("image/png");

        return(dataURL);
    }


    function imgToCanvas(img) {

        // Create an empty canvas element
        let canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;

        // Copy the image contents to the canvas
        const ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

	return(canvas)
    }




    function cropClassify() {
        console.log("cropClassify")

	const crop_image = cropper.getCroppedCanvas({ maxWidth: 4096, maxHeight: 4096 });
	console.log(crop_image)
	
	croppedImageData = crop_image.toDataURL("image/png");
	imageElement = document.getElementById("modalImage");
	imageElement.src = croppedImageData;

	$("#classifyModal").modal("show");

	document.getElementById('modalSpinner').style.display = 'none';
	
	updateMetadataBox();
    }


    function deselectCropper(index) {
        document.getElementById(metadata[index][0]).style.border = "10px solid red";
    }



    function updateMetadataBox() {
	const current_metadata = metadata[current_selection];

        $('#image_id').text(current_metadata[0]);
        $('#image_crop').text(current_metadata[2]);
        $('#image_contributor').text(current_metadata[4]);
        $('#image_coordinates').text("(" + current_metadata[5] + "," + current_metadata[6] + ")");
        $('#image_timestamp').text(current_metadata[15]);
        $('#image_width').text(current_metadata[7]);
        $('#image_height').text(current_metadata[8]);
        $('#image_camera').text(current_metadata[9]);
        $('#image_lens').text(current_metadata[10]);

        $('#modal_image_id').text(current_metadata[0]);
        $('#modal_image_crop').text(current_metadata[2]);
        $('#modal_image_contributor').text(current_metadata[4]);
        $('#modal_image_coordinates').text("(" + current_metadata[5] + "," + current_metadata[6] + ")");
        $('#modal_image_timestamp').text(current_metadata[15]);
    }



    function clickCropper(index) {

	// const current_metadata = metadata[index];
	const image_id = metadata[index][0];
	const image_path = metadata[index][1];
	
	$("#loadingModal").modal("show");

	deselectCropper(current_selection);
        document.getElementById(image_id).style.border = "10px solid blue";

	current_selection = index;
	lastFilteredCanvasFlag = false;

        cropper.replace("static/images/photos/imagebank/".concat(image_path));

	updateMetadataBox();

    }

    function photoArchive() {
	console.log("In photoArchive()"); 
    }


    function uploadFiltered() {
	console.log("In uploadFiltered()");

	// document.getElementById('modalSpinner').style.display = 'inline';

	const api_url = "/upload";
	const data = {'croppedImage': croppedImageData, 'who':'{{who}}'}

	console.log("uploading...")

	fetch(api_url, {
		method: "POST",
		headers: {'Content-Type': 'application/json'}, 
		body: JSON.stringify(data)
	}).then(res => {
		$("#classifyModal").modal("hide");
		console.log("Request complete! response:", res);
	});

	console.log("done...")
    }



    function uploadCropped() {
	console.log("In uploadCropped()");

	document.getElementById('modalSpinner').style.display = 'inline';
	notes = document.getElementById('classificationNotes').value;

	const current_metadata = metadata[current_selection];
        const photo_id = current_metadata[0];

	taxonomy = $('input[name="classification"]:checked').val();

	
	console.log(notes)
	console.log(photo_id)
	console.log(taxonomy)

	const api_url = "/upload";
	const data = {'croppedImage': croppedImageData, 'who':'{{who}}', 'notes': notes, 'photo_id': photo_id, 'taxonomy':taxonomy}

	console.log("uploading...")

	fetch(api_url, {
		method: "POST",
		headers: {'Content-Type': 'application/json'}, 
		body: JSON.stringify(data)
	}).then(res => {
		$("#classifyModal").modal("hide");
		console.log("Request complete! response:", res);
	});

	console.log("done...")

    }
  
    
    function calculateAspectRatioFit(srcWidth, srcHeight, maxWidth, maxHeight) {
       const ratio = Math.min(maxWidth / srcWidth, maxHeight / srcHeight);
       return { width: srcWidth*ratio, height: srcHeight*ratio };
    }

     function getImage(img) {

	console.log("In getImage()");
	console.log(img);

       var c = document.createElement('canvas');
          c.width = img.width;
          c.height = img.height;

       var ctx = c.getContext('2d');
          ctx.drawImage(img, 0, 0);

       return ctx.getImageData(0, 0, img.width, img.height);
    }


    function printCanvas(can, imgData) {

       can.width  = imgData.width;
       can.height = imgData.height;

       var ctx = can.getContext('2d');
       ctx.putImageData(imgData, 0, 0);
    }


    function copyCanvas(destCanvas, sourceCanvas) {

	console.log("In copyCanvas()");	
	console.log(destCanvas);
	console.log(sourceCanvas);

	destCanvas.width = sourceCanvas.width;
	destCanvas.height = sourceCanvas.height;
	
	//grab the context from your destination canvas
	const sourceCtx = sourceCanvas.getContext('2d');
	const destCtx = destCanvas.getContext('2d');

        const sourceImageData = sourceCtx.getImageData(0, 0, sourceCanvas.width, sourceCanvas.height);
	destCtx.putImageData(sourceImageData, 0, 0);
    }


	
    function storePrefilterCanvas(sourceCanvas) {

	prefilterCanvas.width = sourceCanvas.width;
	prefilterCanvas.height = sourceCanvas.height;
	
	//grab the context from your destination canvas
	const sourceCtx = sourceCanvas.getContext('2d');
	const destCtx = prefilterCanvas.getContext('2d');

        const sourceImageData = sourceCtx.getImageData(0, 0, sourceCanvas.width, sourceCanvas.height);
	destCtx.putImageData(sourceImageData, 0, 0);
	
    }


    function resetFilter() {

	copyCanvas(document.getElementById('filtered-canvas'), prefilterCanvas);
	copyCanvas(document.getElementById('filtered-canvas-big'), prefilterCanvas);
    }


    function filterSave() {
	
	console.log("In filterSave()")	

	let filteredCanvasBig = document.getElementById('filtered-canvas-big');
	let filteredContextBig = filteredCanvasBig.getContext("2d");

	let lastFilteredContext = lastFilteredCanvas.getContext("2d");
	
        let filteredImageDataBig = filteredContextBig.getImageData(0, 0, filteredCanvasBig.width, filteredCanvasBig.height);
	lastFilteredCanvas.width = filteredImageDataBig.width;
	lastFilteredCanvas.height = filteredImageDataBig.height;

	lastFilteredContext.putImageData(filteredImageDataBig, 0, 0);
	lastFilteredCanvasFlag = true;
	
	cropper.destroy();
        document.querySelector('#cropperimage').src = filteredCanvasBig.toDataURL();
	cropper = initCropper();	

	$("#koalaModal").modal("hide");
    }
    
     function doFilter(filter) {
	const filteredCanvas = document.getElementById('filtered-canvas');
	const filteredCanvasBig = document.getElementById('filtered-canvas-big');
	
	ctx = filteredCanvas.getContext("2d");
	ctxBig = filteredCanvasBig.getContext("2d");

	imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
	filteredImageData = pixelsJS.filterImgData(imageData, filter);
	ctx.putImageData(filteredImageData, 0, 0);

	imageData = ctxBig.getImageData(0, 0, canvas.width, canvas.height);
	filteredImageData = pixelsJS.filterImgData(imageData, filter);
	ctxBig.putImageData(filteredImageData, 0, 0);
    }


    function filterButton() {

	console.log("In filterButton()")

	if(lastFilteredCanvasFlag == false) {
	   console.log("  FALSE");
	   canvas = cropper.clear().getCroppedCanvas();
	} else {
	   console.log("  TRUE");
	   canvas = lastFilteredCanvas;
	}

	const filteredCanvas = document.getElementById('filtered-canvas');
	const filteredCanvasBig = document.getElementById('filtered-canvas-big');
	
	copyCanvas(filteredCanvas, canvas);
	copyCanvas(filteredCanvasBig, canvas);
	
	storePrefilterCanvas(canvas);

	$("#koalaModal").modal("show");
    }


    window.addEventListener('DOMContentLoaded', function () {
        cropper = initCropper();
	clickCropper(current_selection);

    document.getElementById('opacity-slider').addEventListener('input', function (e) {
  	document.body.style.opacity = this.value;
    });
	
	console.log(pixelsJS.getFilterList());

    });


</script>



<title>{% block title %}{% endblock %} - Photos</title> 
{% include "header.html" %}

<!-- LOAD UP OUR MODALS -->
{% include "classifyModal.html" %}
{% include "loadingModal.html" %}
{% include "koalaModal.html" %} 


<table align=center width=90%>
<tr>
<td align=left width=75%>

  <div class="container">
    <div>
      <img height=600px id="cropperimage" src="" alt="Picture">
      <img id="photoSpinner" src="/static/img/loader.gif" style="display:none">
    </div>
  </div>


</td>
<td align=left>

   <div id="metadata_box">

        <center> <h3> Image Metadata </h3> </center>
        Image ID: <div style="display:inline" id="image_id"></div> <br>
        Crop: <div style="display:inline" class="text-uppercase" id="image_crop"></div> <br>
        Contributor: <div style="display:inline" id="image_contributor"></div> <br>
        Coordinates: <div style="display:inline" id="image_coordinates"></div> <br>
        Timestamp: <div style="display:inline" id="image_timestamp"></div> <br>
        Width: <div style="display:inline" id="image_width"></div> <br>
        Height: <div style="display:inline" id="image_height"></div> <br>
        Camera: <div style="display:inline" id="image_camera"></div> <br>
        Lens: <div style="display:inline" id="image_lens"></div> <br>

   </div>

    <hr>

    <button type="button" id="cropclassify" onClick="cropClassify()">Crop & Classify</button> 
    <button type="button" id="filterButton" onClick="filterButton()">Filters</button> 
    <button type="button" id="photoArchive" onClick="photoArchive()">Archive Image</button> 

    <hr>

{% include "toolbox.html" %}


   
</td>
</tr>
</table>

{{ pagination.info }}

<table class="table table-striped">

<tbody>
<TR>

   {% for item in data %}	
   <TD>
	<IMG id="{{item[0]}}" SRC="static/images/photos/thumbnails/{{item[1]}}" onClick="clickCropper({{loop.index-1}})">  
   </TD>
   {% endfor %}
	
</TR>
</tbody>
</table>

{{pagination.info}}
{{pagination.links}}

{# <script  src="/static/js/imageFilters.js"></script> #}

